img {
  animation: floatImage 5s ease-in-out infinite;
}

@keyframes floatImage {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

}